
* {
    font-family: 'Poppins', sans-serif;
}

/* Heading section */
header {
    background-color: black;
    color: white;
    padding: 10px;
}

h1 {
    text-align: center;
}

#scores-timers {
    display: flex;
    justify-content: space-evenly;
}

.highscores {
    text-align: right;
    display: inline;
}

.timer {
    text-align: left;
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

/* Main section */

main, .highscore-box {
    border: solid 3px blue;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.start-button, .retake, .return {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px 200px;
    cursor: pointer;
    border-radius: 20px;
}

.start-button:hover, .retake:hover, .return:hover {
    background-color: rgb(39, 39, 39);
}

.answer-notification {
    font-style: italic;
    color: grey; 
    text-decoration: overline grey 1px;
}


li {
    list-style: none;
    margin: 5px;
    width: fit-content;
    cursor: pointer;
} 

.answers li:hover {
    color: blue
}

#highscore-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px 200px;
    cursor: pointer;
    border-radius: 15px;
}

#submit:hover {
    background-color: rgb(39, 39, 39);
}

#confirmed {
    font-style: italic;
    color: grey; 
    text-decoration: underline grey 1px;
    text-align: center;
}